<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="static/madlibs.css"> 
  <title>The Game!</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
    Pick for your madlib game: 
    <label> Name <input type="text" name="name"></label>
    <label> Color <input type="text" name="color"></label>
    <label> Noun <input type="text" name="noun"></label>
    <label> Adjective <input type="text" name="adj"></label>
    <br>
    And some pets:
    <label><input type="checkbox" name="pets" value="kitten"> Kitten </label>
    <label><input type="checkbox" name="pets" value="spider"> Spider </label>
    <label><input type="checkbox" name="pets" value="puppy"> Puppy </label>
    <label><input type="checkbox" name="pets" value="unicorn"> Unicorn </label>
    <input type="submit">
</form>

</body>
</html>
